* {
	font-family: sans-serif;
	color: #052758;
	text-align: justify;
}

HTML {
	font-style: normal;
	font-weight: 300;
}

BODY { 
	background: black;
	position: absolute;
	font-size: 1em;
	margin: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

A { 
	text-decoration: none;
	
}

P { 
	line-height: 1.5;
	padding: 3px;
}


/* ----------------HEADER------------- */

DIV#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3rem;
	margin: 0;
	padding: 0rem;
	background: #052758;
	color: white;
}

HEADER {
	position: absolute;
	left: 10%;
	right: 10%;
	top: 1rem;
}

HEADER NAV { 
	white-space: nowrap;
}

HEADER NAV.left {
	float: left;
	margin-left: -5px;
}

HEADER NAV.right {
	float: right;
}

HEADER NAV A {
	text-decoration: none;
	padding: 2px 5px;
	font-size: 1.2rem;
	color: white;
}

HEADER NAV A:hover {
	background-color: white;
	color: #052758;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* =================PAGE================ */

DIV#page {
	position: absolute;
	left: 0;
	right: 0;
	top: 3rem;
	bottom: 0;
	overflow-y: auto;
	background-color: white;
}

/* -----------------BANNER------------------- */

DIV#banner {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 22rem;
	background-size: cover;
	background-position: center;
}

DIV#banner H1 {
	padding-top: 8%;
	padding-left: 10%;
	font-size: 05em;
	color: #052758;
}

DIV#banner.home {
	background-image: url("bilder/home.JPG");
}

DIV#banner.raeume {
	background-image: url("bilder/tuer.jpg");
}


DIV#banner.kalenderba {
	background-image: url("bilder/moewe.JPG");
}

DIV#banner.buchen {
	background-image: url("bilder/fruehstueck.jpg");
}

DIV#banner.buchen H1 {
	color: white;
}

DIV#banner.ueberuns {
	background-image: url("bilder/wir.jpg");
}

DIV#banner.vorort {
	background-image: url("bilder/ort.jpg");
}

DIV#banner.vorort H1 {
	color: white;
}

DIV#banner.anfahrt {
	background-image: url("bilder/zug.jpg");
}

DIV#banner.anfahrt H1 {
	color: white;
}

DIV#banner.impressum {
	background-image: url("bilder/impressum.jpg");
}

/* -----------------Content------------------ */

DIV#content {
	position: absolute;
	top: 22rem;
	left: 10%;
	right: 10%;
	padding-top: 8%;
	padding-bottom: 8%;
}

DIV.contentstart{	
	padding-bottom: 6%;
}

/* -----------------Content Inhalt------------------ */

DIV.contentnormal{
	padding-top: 4%;
}

DIV.contentcontainer{
	padding-top: 12%;
	overflow: auto;
	display: flex;
}

DiV.contentcontainer DIV.left {
	padding-right: 50px;
}

DiV.contentcontainer DIV.right {
	flex: 2;
}

DiV.contentcontainer DIV.left IMG{
	padding-top: 40px;
}

DiV.contentcontainer DIV.right IMG {
	padding-top: 40px;
}

/* -----------------Räume------------------ */

img.raum {
  max-width: 100%;
  vertical-align: top;
}

.galerie {
  display: flex;
  width: 100%;
  padding-top: 4%;
  box-sizing: border-box;
  height: 80vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box span {
  font-size: 2vh;
  display: block;
  text-align: center;
  height: 5vh;
  line-height: 4.5;
}

.box:hover { 
	flex: 1 1 50%; 
}

.box:hover img {
  width: 100%;
  height: 100%;
}


/* -----------------Kalender------------------ */

BUTTON.buttonkalener {
	  height: 40px;
  background: #ff8e72;
  color: white;
  border: none;
  font-size: 1em;
  font-family: sans-serif;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

BUTTON.buttonkalener:hover {
	background: #ed6a5e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

DIV.contentkalender{
	padding-top: 0%;
	overflow: auto;
	display: flex;
}

DiV.contentkalender DIV.left {
	padding-right: 50px;
}

DiV.contentkalender DIV.right {
	flex: 2;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

TABLE.kalender{
	background: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	font-size: 15px;
	border-radius: 10px;
	text-align: center;
	padding: 10px;
}

TABLE.kalender TR TH.monat{
	margin-bottom: center;
	color: #052758;
	text-align: center;
	font-size: 18px;
}

TABLE.kalender TR TD {
	border: 3px solid white;
	border-radius: 10px;
	padding: 15px;

}

TABLE.kalender TR TD A {
	text-decoration: none;
	color: white;
}

.vergangen {
	background-color: grey;
	color: black;
}

.close {
	color: white;
	background: #89023e;
}

.close:hover {
	background: grey;
	color: black;
}

.open {
	color: white;
	background: #73CE60;
}

.open:hover {
	background: #052758;
}

/* -----------------Buchen------------------ */


DIV.formular {
  margin: 20px 0;
}

DIV.formular.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%;
}

label {
  display: block;
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #5b85aa;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: sans-serif;
  width: 100%;
  padding: 10px;
}

DIV.formular.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #5b85aa;
}

button {
  height: 50px;
  background: #ff8e72;
  color: white;
  border: none;
  font-size: 1.25em;
  font-family: sans-serif;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
}

button:hover {
  background: #ed6a5e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* -----------------Kontakt------------------ */

DIV.contentnormal IMG:hover {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* -----------------Impressum------------------ */

button.buttondaten {
	height: 40px;
  background: #052758;
  color: white;
  border: none;
  font-size: 1em;
  font-family: sans-serif;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: 3%;
}

button.buttondaten:hover {
  background: #ed6a5e;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* -----------------Footer------------------ */

DIV#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 3rem;
	background-color: #052758;
}

DIV.footercontainer {
	position: absolute;
	top: 1rem;
	left: 10%;
	right: 10%;
	text-align: center;
}

DIV.footercontainer A {
	text-decoration: none;
	padding: 2px 5px;
	font-size: 1.2rem;
	color: white;
}

DIV#footer A:hover {
	border-bottom: 1px solid white;
}



